/node_modules
/client/node_modules
/server/node_modules
/client/.env
/server/.env
.env
.eslintignore
.eslintrc.json
.prettierrc.json
/client/.dockerignore
/server/.dockerignore
/client/dist
/server/dist
/client/sec
/server/sec
.DS_Store
/client/.DS_Store
/server/.DS_Store